@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fredoka+One&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 50px;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

:focus {
  outline: none;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#newGame {
  background-color: #fff;
  color: tomato;
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.app {
  display: flex;
  margin-top: 60px;
}

aside {
  width: 160px;
  height: 80vh;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0);
  text-align: center;
  padding: 20px 0;
}
aside.active {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

aside img {
  width: 80%;
}

#map {
  height: 80vh;
  width: 80vh;
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

#map > div {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 7px;
}
#map > div:hover {
  background: rgba(0, 0, 0, 0.2);
}
